<form ng-submit="addItem()">
	New Item: <input type="text" maxlength="25" name="name" id="name" ng-model="newItem.name" placeholder="Item" required><br>
	Priority: 
		<select name="priority" id="priority" ng-model="newItem.priority" required>
      <option value="">Please select</option>
			<option value="High">High</option>
			<option value="Low">Low</option>
		</select>
<br>
	Note: <input type="text" maxlength="255" name="note" id="note" ng-model="newItem.note" placeholder="Note" value= " "><br>
	<input type="submit" value="Submit">
</form><br>





















<div class="container-fluid">
	<div class="card-new-list">

		


			
				<h1>CREATE A NEW LIST</h1>

<form ng-submit="addList(newList)">

  <input type="text" class="input-box-text" placeholder="Add name" ng-model="newList.name">
  <input type="text" class="input-box-text" placeholder="Enter hex value" ng-model="newList.color">
  <br>
  <button type="submit" class="btn btn-lg" value="Submit">CREATE LIST</button>

</form>
			


		<form> 

		<div class="row">
			<label class="radio-inline"><input type="radio" name="color" value="color"></label> 
			<label class="radio-inline"><input type="radio" name="color" value="color"></label> 
			<label class="radio-inline"><input type="radio" name="color" value="color"></label>
			<label class="radio-inline"><input type="radio" name="color" value="color"></label>
		</div>

		<div class="row">					
			<label class="radio-inline"><input type="radio" name="color" value="color"></label> 
			<label class="radio-inline"><input type="radio" name="color" value="color"></label> 
			<label class="radio-inline"><input type="radio" name="color" value="color"></label>
			<label class="radio-inline"><input type="radio" name="color" value="color"></label>
		</div>

						<br>

		<div class="row">	
			<label class="radio-inline"><input type="radio" name="color" value="color"><input type="text" name="hex-value" maxlength="7" value="#">
		</div>

						</label>
					
		</form>
					

			<!-- <input type="color" id="new-list-color" ng-model="newList.color" required> -->
						<form>
						  

					</select>

			

			
			</form>

	</div>

</div>

