<div class="container-fluid">
	<div class="col-sm-8 col-md-6 card-new-list">
		
		<h1>CREATE A NEW LIST</h1>

		<form ng-submit="addList(newList)">

			<input type="text" class="input-box-text" placeholder="Add name" ng-model="newList.name" required>
			<input type="text" class="input-box-text" placeholder="Color hex value" ng-model="newList.color" value="#" required>
			<br>
			<button type="submit" class="btn btn-lg">CREATE</button>

		</form>
	</div>
</div>
			

<!--
		<form> 

		<div class="row">
			<label class="radio-inline"><input type="radio" name="color" value="color"></label> 
			<label class="radio-inline"><input type="radio" name="color" value="color"></label> 
			<label class="radio-inline"><input type="radio" name="color" value="color"></label>
			<label class="radio-inline"><input type="radio" name="color" value="color"></label>
		</div>

		<div class="row">					
			<label class="radio-inline"><input type="radio" name="color" value="color"></label> 
			<label class="radio-inline"><input type="radio" name="color" value="color"></label> 
			<label class="radio-inline"><input type="radio" name="color" value="color"></label>
			<label class="radio-inline"><input type="radio" name="color" value="color"></label>
		</div>

						<br>

		<div class="row">	
			<label class="radio-inline"><input type="radio" name="color" value="color"><input type="text" name="hex-value" maxlength="7" value="#">
		</div>

						</label>
					
		</form>
					

			<input type="color" id="new-list-color" ng-model="newList.color" required>
						<form>
						  

					</select>

			

			
			</form>

	</div>

</div>

-->