<!DOCTYPE HTML>
<html>
	<head>
		<title>Shopping List</title>


<!-- SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.4/randomColor.min.js"></script>
<!-- Links to CSS files -->	

<!-- Normalize CSS-->
<!-- Overrides built-in settings that create inconsistencies between browsers.-->
<link rel="stylesheet" type="text/css" href="../css/normalize.css">
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
<!-- Tara's Custom CSS -->
<link rel="stylesheet" type="text/css" href="../css/style.css">


<!-- Imported Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
	</head>

<body>

<!-- NAVBAR -->
 <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Shopping List</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
<!-- My Lists button -->
          	  <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Lists<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Target</a></li>
                <li><a href="#">Kroger</a></li>
                <li><a href="#">Sam's Club</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">more...</li>
                <li><a href="#">Add new list</a></li>
              </ul>
<!-- Sign-In button -->
            <li><a href="#">Sign In</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


<!-- DUMMY LISTS -->
<!-- This section has dummy data to test style without hooking it up to Angular.
The section below it has Angular verbiage intact. -->
<div>

	<div class="row">
			
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" id="trump">
				<div class="card">
							
					<h5>Target</h5>
							<ul>
								<li>tampons</li>
								<li>nail clippers</li>
								<li>Mucinex</li>
								<li>Febreze</li>
								<li>bra</li>
							</ul>
						
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" id="trump">
				<div class="card">
							
					<h5>Target</h5>
							<ul>
								<li>tampons</li>
								<li>nail clippers</li>
								<li>Mucinex</li>
								<li>Febreze</li>
								<li>bra</li>
							</ul>
						
				</div>
			</div>


			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" id="trump">
				<div class="card">
						<h5>Kroger</h5>
							<ul>
								<li>milk</li>
								<li>cookies</li>
								<li>wine</li>
								<li>cereal</li>
								<li>bread</li>
							</ul>
						
				</div>
			</div>



			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" id="trump">
				<div class="card">
						<h5>Sam's Club</h5>
							<ul>
								<li>mayo</li>
								<li>hot sauce</li>
								<li>toilet paper</li>
								<li>Febreze</li>
								<li>bra</li>
							</ul>
				</div>
			</div>
	
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" id="trump">
				<div class="card">
						<h5>Big Red</h5>
							<ul>
								<li>beer</li>
								<li>beer</li>
								<li>beer</li>
								<li>beer</li>
								<li>beer</li>
								<li>beer</li>
								<li>beer</li>
								<li>beer</li>
								<li>beer</li>

							</ul>
				</div>
			</div>
		


			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" id="trump">
					<div class="card">
							<h5>Big Red</h5>
								<ul>
									<li>beer</li>
									<li>beer</li>
									<li>beer</li>
									<li>beer</li>
									<li>beer</li>
									<li>beer</li>
									<li>beer</li>
									<li>beer</li>
									<li>beer</li>

								</ul>
					</div>
			</div>


			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" id="trump">
					<div class="card">
							<h5>Big Red</h5>
								<ul>
									<li>beer</li>
									<li>beer</li>
									<li>beer</li>
									<li>beer</li>
									<li>beer</li>
									<li>beer</li>
									<li>beer</li>
									<li>beer</li>
									<li>beer</li>

								</ul>
					</div>
			</div>


			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" id="trump">
					<div class="card">
							<h5>Big Red</h5>
								<ul>
									<li>beer</li>
									<li>beer</li>
									<li>beer</li>
									<li>beer</li>
									<li>beer</li>
									<li>beer</li>
									<li>beer</li>
									<li>beer</li>
									<li>beer</li>

								</ul>
					</div>
			</div>
	</div>		

</div>

<!-- ANGULAR LISTS -->
<!-- I wanted to leave them in for now. -->
			<!-- <div>

				<div class="card">
					<a ng-repeat="list in lists" ng-href="#/shopping-list/{{list.id}}">
						<div>
							<h5>{{list.name}}</h5>
							<ul>
								<li ng-repeat="item in list.items">{{item.name}}</li>
							</ul>
						</div>
					</a>
				</div>


			<div>

				<div class="card">
					<a ng-repeat="list in lists" ng-href="#/shopping-list/{{list.id}}">
						<div>
							<h5>{{list.name}}</h5>
							<ul>
								<li ng-repeat="item in list.items">{{item.name}}</li>
							</ul>
						</div>
					</a>
				</div>

			<div>

				<div class="card">
					<a ng-repeat="list in lists" ng-href="#/shopping-list/{{list.id}}">
						<div>
							<h5>{{list.name}}</h5>
							<ul>
								<li ng-repeat="item in list.items">{{item.name}}</li>
							</ul>
						</div>
					</a>
				</div>







			</div> -->
</html>