<!DOCTYPE HTML>
<html>
	<head>
		<title>Shopping List</title>


<!-- Link to CSS files -->	


<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
<!-- Tara's Custom CSS -->
<link rel="stylesheet" type="text/css" href="../css/style.css">


<!-- Imported Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
	</head>

		<body>




			<div>




				<div class="card">
					<a ng-repeat="list in lists" ng-href="#/shopping-list/{{list.id}}">
						<div>
							<h5>{{list.name}}</h5>
							<ul>
								<li ng-repeat="item in list.items">{{item.name}}</li>
							</ul>
						</div>
					</a>
				</div>












			</div>
</html>