<div class="container">
  <div class="card"
    <div class="row">
      <div id="sidebar" class="col-sm-8 col-sm-offset-2">
        <span>{{list.name}}</span>
        <span>ICON 2</span>
        <span>ICON 3</span>
      </div>
    </div>
    <div class="row">
      <div id="list" class="col-sm-8 col-sm-offset-2">
        <ul class="list-group-control">
          <li ng-repeat="item in list.items | orderBy:propertyName:reverse | filter: search ">
              <input type="checkbox" ng-model="item.isChecked" ng-click="checkItem()">
              {{item.name}} - {{item.priority}} - {{item.note}} 
              <button ng-click="removeItem(item)">X</button>
          </li> 
        </ul>
      </div>
      <div class="card">
    </div>
</div>