<div class="container">
  

    <div class="shopping-list-card row" style="border-color:{{list.color}}">

        <div class="col-sm-8 list-head" style="background-color:{{list.color}}">
            <span><h1>{{list.name}}</h1></span>
                     <div class="pull-right" >
                         <span id="trash" class="fa fa-trash fa-3x" class="col-sm-2" ng-click="removeList(list)" alt="Delete List"></span>

                         <div class="form-group">
                    <div class="icon-addon addon-md">
                        <input type="text" placeholder="search items" class="form-control" id="search-text" ng-model="search">
                        <label for="search-text" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                    </div>
                </div>
                   </div>
                

    </div>      



            <table class="order-by-table">
                <tr><th><h5>order items by:</h5></th>
                    <th>
                        <button class="btn-order-by-name" ng-click="sortBy('name')">Name</button>
                        <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button class="btn-order-by-priority" ng-click="sortBy('priority')">Priority</button>
                        <span class="sortorder" ng-show="propertyName === 'priority'" ng-class="{reverse: reverse}"></span>
                    </th>
                </tr>
            </table>

            <ul class="list-group">
                <li style="color:{{list.color}}" class="list-group-item" ng-repeat="item in list.items | orderBy:propertyName:reverse | filter: search ">
                    <input type="checkbox" ng-model="item.isChecked" ng-click="editItem()">
                    {{item.name}} - {{item.priority}}
                    <i class="fa fa-trash-o" aria-hidden="true" ng-click="removeItem(item)"></i>&nbsp
                    
                    <i class="fa fa-pencil" aria-hidden="true" href ng-click="showEdit = !showEdit" ng-show="!showEdit"></i>
                    <div ng-show = "showEdit"> 
                        <h4>Edit {{item.name}}</h4>
                        <form ng-submit="editItem()">
                            <input class="form-control" type="text" name="name" id="name" ng-model="item.name" maxlength="25" required>
                            <select class="form-control" name="priority" id="priority" ng-model="item.priority" required>
                                <option value="">Priority</option>
                                <option value="High">High</option>
                                <option value="Low">Low</option>
                            </select>
                            <input type="text" class="form-control" name="note" id="note" ng-model="item.note" maxlength="255" value= " ">
                            <button class="btn btn-default" type="submit" ng-click="showEdit = !showEdit">Update</button>
                        </form><br>
                    </div>
                    <br>
                    <small class="form-text text-muted">Note: {{item.note}}</small>

                </li> 
            </ul>

            <button class="btn btn-default btn-custom" href ng-click="showAddItem = !showAddItem" ng-show="!showAddItem">Add Item</button><br>
            <div ng-show="showAddItem" class="add-item">
                <h4>Add Item</h4>
                <form ng-submit="addItem()">
                    <input class="form-control" type="text" name="name" id="name" ng-model="newItem.name" placeholder="Item" maxlength="25" required>
                    <select class="form-control" name="priority" id="priority" ng-model="newItem.priority" required>
                        <option value="">Priority</option>
                        <option value="High">High</option>
                        <option value="Low">Low</option>
                    </select>
                    <input type="text" class="form-control" name="note" id="note" ng-model="newItem.note" placeholder="Note" maxlength="255" value= " ">
                    <button class="btn btn-default" type="submit" ng-click="showAddItem = !showAddItem">Add</button>&nbsp<span class="close-box" ng-click="showAddItem = !showAddItem"><u>close</u></span>    
                </form>
            </div>
            <br>
       <!--      <button class="btn btn-default" ng-click="clearItems()" id="clear" >Clear List</button>
            <button class="btn btn-default" ng-click="clearCheckedItems()" id="clear" >Clear Checked Items</button> -->

        </div>
    </div>
</div>

<!-- <button ng-click="propertyName = null; reverse = false">Set to unsorted</button> -->



