<h2>{{list.name}}</h2>
  <label> Search </label>
  <input type="text" ng-model="search" placeholder="Search for an item" /><br>

  <label>Order By</label>
      <tr>
      <th>
        <button ng-click="sortBy('name')">Name</button>
        <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <button ng-click="sortBy('priority')">Priority</button>
        <span class="sortorder" ng-show="propertyName === 'priority'" ng-class="{reverse: reverse}"></span>
      </th>
    </tr>
     <hr/>

<div>
	<ul>
		<li ng-repeat="item in list.items | orderBy:propertyName:reverse | filter: search ">
    <input type="checkbox" ng-model="item.isChecked" ng-click="checkItem()">
    {{item.name}} - {{item.priority}} - {{item.note}} 
      <button ng-click="removeItem(item)">X</button>
    </li> 
	</ul>
</div>
<br>
  <button ng-click="propertyName = null; reverse = false">Set to unsorted</button>

<div>
<h3>Add New Item</h3>
<form ng-submit="addItem()">
	New Item: <input type="text" name="name" id="name" ng-model="newItem.name" placeholder="Item" required><br>
	Priority: 
		<select name="priority" id="priority" ng-model="newItem.priority" required>
			<option value="High">High</option>
			<option value="Low">Low</option>
		</select>
<br>
	Note: <input type="text" name="note" id="note" ng-model="newItem.note" placeholder="Note" value= " "><br>
	<input type="submit" value="Submit">
</form><br>

<button ng-click="clearItems()" id="clear" > DESTROY YOUR LIST </button>
</div>

