
html {
	font-family: 'Rubik', sans-serif;
}

body {
	font-family: 'Rubik', sans-serif;
	color:white;
	background-color: #EBEBEB;
	height:100%;
    width:100%;
    position:relative;
    margin:0;
    padding:0;
}


.card {
	background-color: #EBEBEB;
	height: 500px;
	width:450px;
	width: 100%;
	margin: 10px;
	padding: 25px;
	border-radius: 25px;
	border-width: 10px;
	border-style: solid; 
	border-color: #F25757;

}

.card-add{
	background-color: #7ADFBB;
	color:white;
	height: 500px;
	width:450px;
	width: 100%;
	margin: 10px;
	padding: 25px;
	border-radius: 25px;
	text-align: center;

}

.card-new-list{

	background-color: #7ADFBB;
	color:white;
	height: 100%;
	min-height: auto;
	width:50%;
	padding:30px;
	border-radius: 25px;
	text-align: center;


}

.card h1, h2, h3, h4, h5 {
	text-transform: uppercase;
}

.card ul {
	padding: 25px;
}

.card li {
	padding: 5px;
	color:#F25757;
}


.navbar {
	background-color: #353A47;
	border-style: none;

}

.input-box-text{
	color:#353A47;
}



.shopping-list-card{
	background-color: #EBEBEB;
	height: 500px;
	width:450px;
	width: 100%;
	margin: 10px;
	border-radius: 25px;
	border-width: 10px;
	border-style: solid; 
	border-color: #F25757;
}

.shopping-list-card li{
	color: #F25757;
	background-color: #EBEBEB;
	border: none;
}


.sidebar {
	padding: 10px;
	background-color: #F25757;
}
.sidebar h1{
	display: inline;
}
.sidebar{

}

.list-group-control{
	max-height: 100%;
    overflow-y: scroll; 
    padding-top: 100px;
	
}
