
body {
	font-family: 'Rubik', sans-serif;
	background-color: #EBEBEB;

}


.card {
	background-color: cornflowerblue;
	height: 300px;
	width:250px;
	margin: 50px;
	padding: 25px;
	border-radius: 25px;

}

.card h1, h2, h3, h4, h5 {
	text-transform: uppercase;
}

.card ul {
	padding: 25px;
}

.card li {
	padding: 5px;
	color: white;
}


.navbar {
	background-color: cornflowerblue;
	border-style: none;
	color: cyan;
}

